<li class='movies-item'>
  <h3 class='movie-original-title'>{{original_title}}</h3>
  <img class='movie-image' src={{poster_path}} alt='' />
  <p class='movie-status'>Status: {{adult}} </p>
  <p class='movie-overview'>{{overview}}</p>
  <p class='movie-vote-avarage'>Vote avarage: {{vote_average}}</p>
  <p class='movie-runtime'>Runtime: minutes</p>
  <p>Production companies:</p>
  <ul class='movie-production-companies'>
    <li class='production-companies-item-name'></li>;
  </ul>
</li>

{{!-- {{#each languages as |value key|}}
          <p>{{key}}: {{value}}</p>
        {{/each}} --}}